.navbar
{
    background: #F1F3FF;
/* Body/14/Regular */
line-height: 20px;
}

.accordion-button{
    box-shadow: none;
    border-color: black;
}

#just_button{
font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 14px;
color: black;
}

#register{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: black;
    }
